@import './base.css';

body{ 
  min-height: 100vh;
  margin:0;
  display:flex; 
  flex-direction:column;
}

#app {
  /* max-width: 1280px;
  height: 100%;
  margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text); /*hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  padding: 3px;
}

main{
  flex: 1;
  display: flex;
}
